*{
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
}

html, body{
	background-color: #F3EAC5;
}

nav{
	z-index: 20;
	background-color: #FFF;
	color: #000;
	height: 200px;
	padding: 20px;
	padding-left: 40px;
	padding-right: 40px;
	position: fixed;
	top: 0;
}

nav .brand-logo{
	color: #000;
	height: 200px;
	left: inherit;
	transform: inherit;
}

.brand-logo-responsive{
	display: none;
}

.logo-svg{
	height: 180px;

}

nav ul a{
	color: #000;
}

nav>.nav-wrapper>img{
	margin-left: 33.5%;
	margin-top: 30px;
}

nav>.nav-wrapper>.hamburglar{
	float: right;
	margin-top: 40px;
	z-index: 30;
}

nav>.nav-wrapper>img{
	width: 45%;
	max-width: 450px;
}

#filtre{
	background-color: black;
	top:0;
	position: fixed;
	width: 100%;
	z-index: 1;
	visibility: hidden;
	opacity: 0.3;
}

#page{
	position: absolute;
}

#socialmedia{
	height: 20px;
	width: 66px;
	margin-right: auto;
	margin-left: auto;
	margin-top: 5px;
}

#socialmedia a{
	width: 20px;
}

#socialmedia img{
	border-radius: 3px;
	width: 20px;
	height: 20px;
}

#scroll-nav{
	z-index: 20;
	position: fixed;
	top:-200px;
	height: 80px;
	padding: 10px;
	padding-left: 50px;
	padding-right: 50px;
}

#scroll-nav>.nav-wrapper>.hamburglar{
	float: right;
	margin-top: 0px;
}

#scroll-nav>.nav-wrapper>.brand-logo>img{
	margin-top: 0px;
	width: 80px;
}

#scroll-nav>.nav-wrapper>img{
	margin-left: 40%;
	margin-top: 15px;
	width: 200px;
}

#twitterimg{
	margin: 3px;
}

.row{
	margin-bottom: 0;
}

.row1{
	padding-top:20px; 
}

.container{
	width: 100%;
	z-index: 999;
	max-width: none;
	padding: 30px;
	padding-left: 40px;
	padding-right: 40px;
	margin-top: 200px;
}

.color{
	color: #7BBA42;
}

.card-panel{
	padding: 0;
}

.teal{
	background-color: #FFF !important;
}

.card-header, .card-content{
	padding: 30px;
}

.card-title{
	padding: 30px;
	background-color: #7BBA42;
}

.card-header>h2, .card-title>h3{
	margin: 0;
	text-align: left;
	color: #FFF;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
}

.card-header>h2{
	color: #cfd1d5;
	text-align: center;
}

.card-header>h3{
	color: #cfd1d5;
	text-align: center;
}

.card-panel>p{
	clear: both;
	margin-bottom: 5%;
	width: 100%;
	margin-left: 5%;
	padding: 30px;
	margin: 0;
	text-align: justify;
	font-size: 1.1em;
	line-height: 1.5em;
	color: #403c3a;
}

.btn{
	background-color: #7BBA42;
}

.btn:hover{
	background-color: #385e2d;
}

.bouton-connection{
	margin-top: 30px;
}

.connexion>a{
	color: #7BBA42;
	margin-top: -10px;
}

.connexion>a:hover{
	color: #385e2d;
	text-decoration: underline;
}

.connexion>.right{
	float: right !important;
}

.connexion>.left{
	float: left !important;
}

.card-action>input{
	width: inherit;
	margin-bottom: 0 !important;
}

textarea {
  resize: none;
}

footer{
	clear:both;
	height:60px;
	background-color: #7BBA42;
	box-shadow: 0px -5px 5px 0px rgba(0, 0, 0, 0.16), 0px -5px 10px 0px rgba(0, 0, 0, 0.12);
	width: 100%;
	bottom: 0;
}

footer>p{
	padding-top: 20px;
}

/*1029 px pour le calendrier*/
@media screen and (max-width: 995px) {
	nav .brand-logo{
		color: #000;
	}

	.card-panel{
		font-size: 90%;
	}

	h2{
		font-size: 180%;
	}

	.logo-svg{
		width: inherit;
		height: 90%;
	}

	#scroll-nav>.nav-wrapper>img{
		margin-left: 32%;
	}
}

@media screen and (max-width: 890px) {
	.col{
		width: 100% !important;
	}

	h2{
		font-size: 240%;
	}

	.card-panel{
		font-size: 100%;
	}

	.row .col.push-s1{
		left: 0 !important;
	}

	.formula{
		padding-left: 30px;
		padding-right: 30px;
	}

	.logo-svg{
		width: inherit;
		height: 80%;
	}
}

@media screen and (max-width: 700px) {
	nav .brand-logo{
		display: none;
	}

	.brand-logo-responsive{
		display: block;
		width: 180px;
		float: left;
	}

	.name-svg{
		display: none;
	}

	#scroll-nav>.nav-wrapper>.brand-logo{
		display: none;
	}

	#scroll-nav>.nav-wrapper>.name-svg{
		display: block;
		float: left;
		margin-left: 0;
	}

	#scroll-nav>.nav-wrapper>img{
		margin-left: 0;
		padding-right: 20px;
	}

}

@media screen and (max-width: 420px) {

	.brand-logo-responsive{
		display: block;
		width: 160px;
		float: left;
	}

	#scroll-nav>.nav-wrapper>img{
		width: 150px;
	}

}

@media screen and (max-width: 350px) {

}

.image-upload img{
	width: 70%;
	padding-top: 6%;
	padding-bottom: 4%;
}

/**********************/
/** PAGE INSCRIPTION **/
/**********************/
.formulaire{
	margin-top: 8.33333%;
	margin-bottom: 8.33333%;
}

.inscription{
	margin-top: 2%;
	margin-bottom: 2%;
}

.header-small>h2{
	font-size: 2.4em;
}

/********************/
/** PAGE DOCUMENTS **/
/********************/
.indent {
	text-indent: 40px;
}

.card-content {
	padding-top: 0px;
}

.form-group{
	padding-top: 20px;
	padding-left: 20px;
	padding-right: 20px;
	margin: 0 auto;
	width: 90%
}
.form-active{
    font-weight: bold;
}

input, select{
	margin-bottom: 45px !important;
}

.col>.button{
	font-size: 1em !important;
	margin-bottom: 45px !important;
	margin-top: 21px !important;
}

.col>label{
	font-size: 1.2em !important;
}

.card-panel form{
	padding-top: 50px;
	padding-left: 50px;
	padding-right: 50px;
}

.supp{
	float: right;
}

.right{
	float: right;
}

.card-panel>ul{
	padding-bottom: 30px;
}

.btnbot {
	margin-top: 30px;
}

.picker__footer>button{
	width: 33%;
	font-size: 0.8em;
}

.picker__weekday-display{
	background-color: #385E2D;
}

.cal1 .clndr .clndr-table tr .day.today.event{
	background-color: #7BBA42 !important;
}

.day.today.event>div{
	color: white !important; 
}

/********************/
/** PAGE ERREUR **/
/********************/
#errorpage p {
	text-align: center;
}