<div class="container container-fluid">
    <div class="row">
        <div class="card-panel inscription col m4 push-m4 s12 center-align">
            <!-- Formulaire -->


                <!-- Titre de la carte -->
                <div class="card-header header-small"><h2>Erreur 404 !</h2></div>
                <!-- Fin titre -->

                <!-- Contenu card -->
                <div class="card-content">

                    <!-- email -->
                    <div class="row">
                        <div class="input-field col s12">
                             <label>Vous pouvez retourner à l'accueil</label>
                        </div>
                    </div><!-- fin email -->
                    <div id="result"></div><!-- Retour de l'erreur en json -->
                </div><!-- Fin contenu card -->

                 <div class="card-action bouton-connection">
                    <input class="btn center-align" type="submit" value="Valider"/>
                </div>

         </div><!-- Fin card -->
    </div>
</div>
