
  <!DOCTYPE html>
  <html>
    
 <body>
		
					<head>
		    	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
				<title>Gestion du compte</title>

				<link rel="icon" type="image/ico" href="../img/favicon.ico" />

				<!--Import Roboto Font-->
		    	<link href='../../../../fonts.googleapis.com/cssaace.css?family=Roboto:400,300' rel='stylesheet' type='text/css'>
				<!--Import Google Icon Font-->
				<link href="../../../../fonts.googleapis.com/icone91f.css?family=Material+Icons" rel="stylesheet">
				<!--Import materialize.css-->
				<link type="text/css" rel="stylesheet" href="../vendor/css/materialize.min.css" media="screen,projection"/>
				<!--Import style.css-->
				<link type="text/css" rel="stylesheet" href="../css/style.css"/>
				<!--Import menu.css-->
				<link type="text/css" rel="stylesheet" href="../css/menu.css"/>
				<!--Import profil.css-->
				<link type="text/css" rel="stylesheet" href="../css/profil.css"/>

				<link rel="stylesheet" type="text/css" href="../css/index.css"/>

				<!-- CALENDAR -->
			  	<link rel="stylesheet" href="../css/clndr.css" type="text/css" />
				<link type="text/css" rel="stylesheet" href="../css/calendar.css"/>

		     	 <!--Let browser know website is optimized for mobile-->
		      	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>

		      	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

   			</head>
   			<ul id="dropdown1" class="dropdown-content">
			  <li class="active"><a href="profil.html" class= "center">Gestion</a></li>
			  <li class="divider"></li>
			  <li><a href="accueil.html"><i class="material-icons center">power_settings_new</i></a></li>
			</ul>
			<ul id="dropdown2" class="dropdown-content">
			  <li class="active"><a href="profil.html" class= "center">Gestion</a></li>
			  <li class="divider"></li>
			  <li><a href="accueil.html"><i class="material-icons center">power_settings_new</i></a></li>
			</ul>
			<nav id="nav">
	 		 	<div class="nav-wrapper">
				    <a href="accueil.html" class="brand-logo"><img class="logo-svg" src="../img/logo.svg" alt="logo du site"></a>
				    <a href="accueil.html" class="brand-logo-responsive"><img class="logo-svg" src="../img/logo2.svg" alt="logo du site"></a>
				    <img class="name-svg" src="../img/name.svg" alt="Zenetude, titre du site">
				    <ul id="nav-mobile" class="right hide-on-med-and-down">
					    <li ><a href="dashboard.html">Tableau de bords</a></li>
					    <li class="active"><a class="dropdown-button" href="#!" data-activates="dropdown1">Compte<i class="material-icons right">arrow_drop_down</i></a></li>
				    </ul>
		  		</div>
			</nav>
			<nav id="scroll-nav">
		  		<div class="nav-wrapper">
		    		<a href="accueil.html" class="brand-logo"><img src="../img/logo.svg" alt="logo du site"></a>
		    		<img class="name-svg" src="../img/name.svg" alt="Zenetude, titre du site">
		    		<ul id="nav-mobile" class="right hide-on-med-and-down">
					    <li><a href="dashboard.html">Tableau de bords</a></li>
					    <li class="active"><a class="dropdown-button" href="#!" data-activates="dropdown2">Compte<i class="material-icons right">arrow_drop_down</i></a></li>
				    </ul>
		 	 	</div>
			</nav>
		        
        <div id="filtre"></div>

		<div class="container">
        	<!-- Page Content goes here -->
        	<div class="row row1">

        		<div class="col s12 m12">
		        	<div class="card-panel teal" id="bloc1">
		        		<div class="card-header"> <h2>Gestion du compte</h2></div>
		          		<!--  -->
		          		<div class="row"> 
							<div class="col s12 m12">
							    <form action="#" style="margin: 10px;padding: 0; border-top: ridge; border-bottom: ridge;">
							    	<table id="vertical-1" class="striped highlight">
							            <tr>
							                <th style="width: 200px">Nom</th>
							                <td style="width: 1500px">Mc.Manaman</td><td style="padding-right: 5px"><a href="#!" style="pointer-events: none;">Modifier</a></td>

							            </tr>
							            <tr>
							                <th style="width: 200px">Prénom</th>
							                <td style="width: 1500px">Jhon</td><td style="padding-right: 5px"><a href="#!" style="pointer-events: none;">Modifier</a></td>
							            </tr>
							            <tr>
							                <th style="width: 200px">Date de naissance</th>
							                <td style="width: 1500px">29/04/1990</td><td style="padding-right: 5px"><a href="#!">Modifier</a></td>
							            </tr>
							            <tr>
							                <th style="width: 200px">Photo</th>
							                <td style="width: 1500px"><i class="large material-icons">face</i></td><td style="padding-right: 5px"><a href="#!">Modifier</a></td>
							            </tr>
							            <tr>
							                <th style="width: 200px">Mot de Passe</th>
							                <td style="width: 1500px">**********</td><td style="padding-right: 5px"><a href="#!">Modifier</a></td>
							            </tr>
							            <tr>
							                <th style="width: 200px">Téléphone</th>
							                <td style="width: 1500px">06.06.06.06.06</td><td style="padding-right: 5px"><a href="#!">Modifier</a></td>
							            </tr>
							        </table>
								</form>
							</div>
						</div>
						
					</div>
				</div>
			</div>
			<!--
        	<div class="row">
		      <div class="col s12 m8">
		        <div class="card-panel teal" id="bloc2">
		        	<div class="card-title"> <h3>Titre</h3></div>
		          <p>I am a very simple card. I am good at containing small bits of information.
		          I am convenient because I require little markup to use effectively. I am similar to what is called a panel in other frameworks.I am a very simple card. I am good at containing small bits of information.
		          I am convenient because I require little markup to use effectively. I am similar to what is called a panel in other frameworks.I am a very simple card. I am good at containing small bits of information.
		          I am convenient because I require little markup to use effectively. I am similar to what is called a panel in other frameworks.I am a very simple card. I am good at containing small bits of information.
		          I am convenient because I require little markup to use effectively. I am similar to what is called a panel in other frameworks.
		          </p>
		        </div>
		      </div>

		         		</div>
			-->

		</div>    	<!-- FIN CONTAINER -->

 					<footer>
				<p>Licence Professionnelle Systèmes Informatiques et Logiciels et Développement et Administration Internet et Intranet.</p>
			</footer>
					<!--Import jQuery before materialize.js-->
		<script src="../js/jquery-3.2.1.js"></script>
		<script src="../bin/materialize.js"></script>
		<script type="text/javascript" src="../js/materialize.min.js"></script>
		<script type="text/javascript" src="../js/showmessage.js"></script>
		<script type="text/javascript" src="../js/menu.js"></script>
		<script src="../js/underscore-min.js"></script>
		<script src="../js/moment-2.2.1.js"></script>
		<script src="../js/clndr.js"></script>
		<script src="../js/site.js"></script>
        <script src="../js/trombi.js"></script>
		<script type="text/javascript" src="../js/fonctions.js"></script>
		<script type="text/javascript">
		//$(document).ready(function(){showMessage();});

		$(document).ready(function() {
			$('select').material_select();
			$(".dropdown-button").dropdown();
		});

		 $(function(){
		   $(window).scroll(function () {//Au scroll dans la fenetre on déclenche la fonction
		      if ($(this).scrollTop() > 200) { //si on a défilé de plus de 200px du haut vers le bas
		      	document.getElementById('scroll-nav').style.top='0px';
		      } else{
		      	document.getElementById('scroll-nav').style.top='-200px';
		      }
		   });
		 });

		window.onload=ajuste;
			function ajuste(){
			document.getElementById('aside1').style.minHeight=document.getElementById('bloc1').offsetHeight+"px";
			document.getElementById('aside2').style.minheight=document.getElementById('calendar').offsetHeight+"px";
		}
		
		
		
		</script>
		
    </body>
  
<!-- Mirrored from mickael.martin-nevot.perso.luminy.univ-amu.fr/zenetude/php/views/index.php by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 04 Dec 2017 17:46:14 GMT -->
</html>
