
  <!DOCTYPE html>
  <html>
    
<body>
        
        			<head>
		    	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
				<title>Récupération du mot de passe</title>

				<link rel="icon" type="image/ico" href="../../img/favicon.ico" />

				<!--Import Roboto Font-->
		    	<link href='../../../../fonts.googleapis.com/cssaace.css?family=Roboto:400,300' rel='stylesheet' type='text/css'>
				<!--Import Google Icon Font-->
				<link href="../../../../fonts.googleapis.com/icone91f.css?family=Material+Icons" rel="stylesheet">
				<!--Import materialize.css-->
				<link type="text/css" rel="stylesheet" href="../../vendor/css/materialize.min.css"  media="screen,projection"/>
				<!--Import style.css-->
				<link type="text/css" rel="stylesheet" href="../../css/style.css"/>
				<!--Import menu.css-->
				<link type="text/css" rel="stylesheet" href="../../css/menu.css"/>
				<!--Import profil.css-->
				<link type="text/css" rel="stylesheet" href="../../css/profil.css"/>

				<link rel="stylesheet" type="text/css" href="../../css/index.css"/>

				<!-- CALENDAR -->
			  	<link rel="stylesheet" href="../../css/clndr.css" type="text/css" />
				<link type="text/css" rel="stylesheet" href="../../css/calendar.css"/>

		     	 <!--Let browser know website is optimized for mobile-->
		      	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
   			</head>
						<nav id="nav">
	 		 	<div class="nav-wrapper">
				    <a href="index.html" class="brand-logo"><img class="logo-svg" src="../../img/logo.svg" alt="logo du site"></a>
				    <a href="index.html" class="brand-logo-responsive"><img class="logo-svg" src="../../img/logo2.svg" alt="logo du site"></a>
				    <img class="name-svg"  src="../../img/name.svg" alt="Zenetude, titre du site">
		  		</div>
			</nav>
						<nav id="scroll-nav">
		  		<div class="nav-wrapper">
		    		<a href="index.html" class="brand-logo"><img src="../../img/logo.svg" alt="logo du site"></a>
		    		<img class="name-svg" src="../../img/name.svg" alt="Zenetude, titre du site">
		 	 	</div>
			</nav>
					<!-- CONTAINER -->
			<div class="container container-fluid">

			<div class="row">
			  <!-- Debut card -->
			  <div class="card-panel inscription col m4 push-m4 s12 center-align">
				<!-- Formulaire -->
				<form id="formula" class="col formulaire s10 push-s1" action="http://mickael.martin-nevot.perso.luminy.univ-amu.fr/zenetude/php/view/validationrecuperation.php" method="POST" onsubmit="">

				  <!-- Titre de la carte -->
				  <div class="card-header header-small"> <h2>Récupération de mot de passe</h2></div>
				  <!-- Fin titre -->

				  <!-- Contenu card -->
				  <div class="card-content">

				  <!-- email -->
				  <div class="row">
					<div class="input-field col s12">
					  <input id="email" type="email" class="validate" name="mail" required="required">
					  <label for="email">Entrer l'adresse email de récupération </label>
					</div>
				  </div><!-- fin email -->
				  <div id="result"></div><!-- Retour de l'erreur en json -->
				</div><!-- Fin contenu card -->

				  <!-- bouton s'inscrire -->
				  <div class="card-action bouton-connection">
					<input class="btn center-align" type="submit" value="Valider" />
				  </div>

				</form><!-- Fin formulaire -->
			  </div><!-- Fin card -->
		  </div>
		</div>
		
    			<footer>
				<p>Licence Professionnelle Systèmes Informatiques et Logiciels et Développement et Administration Internet et Intranet.</p>
			</footer>
					<!--Import jQuery before materialize.js-->
		<script type="text/javascript" src="../../../../code.jquery.com/jquery-2.1.1.min.js"></script>
		<script type="text/javascript" src="../../js/materialize.min.js"></script>
		<script type="text/javascript" src="../../js/showmessage.js"></script>
		<script type="text/javascript" src="../../js/menu.js"></script>
		<script src="../../js/underscore-min.js"></script>
		<script src="../../js/moment-2.2.1.js"></script>
		<script src="../../js/clndr.js"></script>
		<script src="../../js/site.js"></script>
        <script src="../../js/trombi.js"></script>
		<script type="text/javascript" src="../../js/fonctions.js"></script>
		<script type="text/javascript">
		//$(document).ready(function(){showMessage();});

		$(document).ready(function() {
			$('select').material_select();
		});

		 $(function(){
		   $(window).scroll(function () {//Au scroll dans la fenetre on déclenche la fonction
		      if ($(this).scrollTop() > 200) { //si on a défilé de plus de 200px du haut vers le bas
		      	document.getElementById('scroll-nav').style.top='0px';
		      } else{
		      	document.getElementById('scroll-nav').style.top='-200px';
		      }
		   });
		 });

		window.onload=ajuste;
			function ajuste(){
			document.getElementById('aside1').style.minHeight=document.getElementById('bloc1').offsetHeight+"px";
			document.getElementById('aside2').style.minheight=document.getElementById('calendar').offsetHeight+"px";
		}
		</script>
		    
</body>

<!-- Mirrored from mickael.martin-nevot.perso.luminy.univ-amu.fr/zenetude/php/view/recuperation.php by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 04 Dec 2017 17:46:26 GMT -->
</html>